html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.body {
    background-color: black;
}

.menu {
    background-color: blueviolet;
}

.menu2 {
    background-color: rgb(11, 196, 11);
}

.fuenteLetra {
    color: red;
}

.alineado {
    font-size: 38px;
    text-align: center;
    font-weight: bold;
}